@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff
}


a {
  font-family: 'Dosis', sans-serif;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.menu{
  background-color: #253876;
}

.navbar-nav > li > a {
color: #fff;

}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}
header{
  width: 100%;
}

.main-nav 
.container {
  width: 100%

}
.social-icons{
 /* background-color: #E8CC66;*/
 background-color: #253876;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 0px;
}
.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
  
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}
.social-icons .fa-camera-retro:hover{
  color:#443B23;
}

.navbar-right {
  padding: 0;

}

.menu{
  border-top: inset 1px; 
}

.navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz","sans-serif";
  font-weight: 300;
}

.navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.navbar-brand img {
  height:60px;
  top: 0;
}

.navbar-right li a:hover, 
.navbar-right li a:focus{
  background-color: #fff;
  color: #16728f
}

.dropdown-menu, .dropdown-menu li a{
  background-color: #253876;
  color: #fff;
  font-size: 18px;
  padding: 10px!important;
}

.contenido{
 
}

/*************************
********Contenido CSS****
************************/
.container {
  font-family: 'Open Sans', sans-serif!important;
  color: black; 
  text-align: justify;
  min-height: 65vh;
}

.tCarrera, .titulos{
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  color: #E8CC66!important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
h2{
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: bold;
  color: #253876;
  
  font-size: 28px;
}
.list-unstyled{
  font-weight: 500;
  color: #253876;
}

.container a:hover{
   color: #E8CC66;
}
.tituloAsig{
  text-align: center;
  text-transform: uppercase;
  color: #253876;
}

/************************
***tablas CSS************
*************************/
.container th{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
   color: #253876;
}

.container tfoot{
  color: black!important;
  font-weight: bold;
}

/*************************
******Footer CSS****
**************************/


#footer {
  background-color: #dcb800;
  background-image: url("../images/footer_amarillo.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 0px 0 20px;
  color: 222223;

  padding-top: 20px;

}

#footer a {
  color:#10069f
}

#footer a:hover {
  color:#1B7B98
}

